<h1>Vos restaurants</h1>
<i>Vous avez <%= @businesses.count %> visible</i>
<hr />

<table>
    <% @businesses.each do |business| %>
        <tr>
            <td><%= business.name %></td>

            <td>
                <%= link_to "show", menu_path(business) %>
            </td>
        </tr>
    <% end %>
</table>
